@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#cart{
  margin-left: 400px;
}

.menu{
  margin-left: 33%;
}

#light{
  background: #6366f1;
  border-color: transparent;
}

#dark{
  background: #e0e7ff;
  color: #4538ca;
  border-color: transparent;
}

#t-dark{
  color: #4538ca;
}

#img{
  margin-left: 37%;
}